<h1>Product</h1>

{{partial "partials/_product_form"}} 

{{#if showValidationErrors}}
<ul>
	{{#if errors.name}}
	<li>Field product name {{errors.name}}</li>
	{{/if}}
	{{#if errors.price}}
	<li>Field price {{errors.price}}</li>
	{{/if}}
	{{#if errors.amount}}
	<li>Field amount {{errors.amount}}</li>
	{{/if}}
</ul>
{{/if}}

<div class="panel panel-default">
	<div class="panel-body">
		<button {{action 'save'}} class="btn btn-default btn-block save input-item">Save</button>
		<button {{action 'cancel'}} class="btn btn-default btn-block input-item">Cancel</button>
	</div>
</div>

{{outlet}}