<div class="panel panel-default panel-header-own">
	<div class="panel-body">
		{{checkbox-component action="selectAllProducts"}}
		<button type="button" class="btn btn-danger" {{action 'deleteSelectedProducts'}}>Delete marked products</button>
	</div>
</div>

{{#each itemController="product"}} 
<div class="panel panel-default">
	<div class="panel-body">
		{{input type='checkbox' checked=isSelected }}
		<span class="date">{{format-date "LLL" this.date}}</span> | 
		<span class="name">{{this.name}}</span> | 
		<span class="price">{{this.price}}</span> | 
		<span class="amount">{{this.amount}}</span>
		{{#link-to 'product.edit' this class="btn btn-default product-link"}}Details{{/link-to}} 
	</div> 
</div>
{{/each}}

 