<h1>Product</h1>

<table>
  {{#each model.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{this.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{#link-to 'product.edit' model class="product-edit" class="btn btn-default btn-block"}}Change{{/link-to}}
<button {{action "delete"}} class="btn btn-danger btn-block">Delete</button>
<button {{action "cloneModel"}} class="btn btn-block">New product from this item</button>

{{outlet}}
